.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
.phpstorm.meta.php
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
README.md
.kiro
.docker
.idea
.vscode
*.md
*.log
docker-compose*.yml
Homestead.json
Homestead.yaml
